<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    	    <link rel="shortcut icon" href="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/1795544/newsletter-clipart-sm.png">
<style>
body {
  background-image: url('https://cdn.europosters.eu/image/1300/wall-murals/above-the-clouds-sky-i77999.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
</style>

</head>

<body>

<center><form action="/form_login" method="post">
  <h2>Email:</h2><br>
  <input type="text" name='email'><br><br><br>
  <h2>Password:</h2><br>
  <input  name='password' ><br><br><br><br>
<input type="submit" value="Login">
</form>
</center>
<h1 >{{info}}</h1>

</body>
</html>